<div class="profile container roundedfull flex">
    <div class="fondo rounded bg-[#414141] w-[100%] h-[100%] flex flex-col items-center">
        <div class="salitre rounded-full bg-[#606060] textosexo normal-case w-[60%] mt-[2%]">
            <h1 class="text-[#ffffff] ml-[8%]">F' em we salitring</h1>
        </div>
        <!--
        <img class="sidepanel-pfp rounded-full" src="data:image/jpeg;base64, {{pfp}}"></img>
        -->
        <div class="pfp rounded-full content-center mt-[5%]">
            <img class="rounded-full max-h-[15vh] max-w-[15vh]" src="data:image/jpeg;base64, {{pfp}}">
        </div>
        <div class="name&editContainer flex">
            <div class="btn bg-[#A6A6A6] max-h-[1vh] max-w-[1vh]">
                <img class="" src="./../../../assets/editar.png">
            </div>
            <div class="username">
                <h1 class="text-[#A6A6A6] mt-[5%] textosexo text-xl">{{username}}</h1>
            </div>
        </div>    
    </div>
</div>