<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbarContainer flex">
        <div class="navbarVC bg-[#575757] w-[20%] h-[10vh] z-20 rounded flex items-center">
            <img src="./../../assets/mono.png" class="w-[30%] ml-[5%]">
            <h1 class="text-2xl ml-[1vh] textosexo"> Nankuru-chat </h1>
        </div>
        <div class="secondNavbar bg-[#575757] w-[80%] items-center flex">
            <h1 class="textosexo ml-[5%] text-2xl"> Nankuru-chat VC - </h1>
            <div class="btn w-[10%] ml-[60%] rounded-none rounded-md bg-[#7B7B7B] border-none hover:bg-[#666666] text-[#000000] textosexo normal-case" (click)="goToChat()"> go to chat </div>
        </div>
    </div>
    <div class="separator flex flex-col bg-[#666666]">
        <div class="uiContainer flex h-[75vh]">
            <div class="userOneImgContainer h-[100%] w-[50%] bg-[] flex items-center justify-center">
                <div class="usersOneImg rounded-full w-[20%] h-[20%]">
                    <img src="./../../assets/mono_1-landing.jpg" class="rounded-full">
                </div>
            </div>
            <div class="userTwoImgContainer h-[100%] w-[50%] bg-[] flex items-center justify-center">
                <div class="usersTwoImg rounded-full w-[20%] h-[20%]">
                    <img src="./../../assets/mono_1-landing.jpg" class="rounded-full">
                </div>
            </div>
        </div>
        <div class="buttonContainers bg-[#2C2C2C] h-[15vh] flex space-x-52 items-center justify-center">

            <div class="mic btn bg-[#575757] h-[9vh] w-[9vh] border-none ring-0 rounded-full items-center hover:bg-[#3A3A3A] ">
                <img src="./../../assets/mic.png" class="w-[5vh] h-[5vh] ml-[0.3vh] border-none absolute">
            </div>

            <div class="mic btn bg-[#575757] h-[9vh] w-[9vh] border-none ring-0 rounded-full items-center hover:bg-[#3A3A3A] ">
                <img src="./../../assets/colgar.png" class="w-[5vh] h-[5vh] ml-[0.3vh] border-none absolute">
            </div>
        </div>
    </div>
</body>
</html>