<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Convergence&display=swap" rel="stylesheet">
  <!-- <link href="../../../dist/output.css" rel="stylesheet" > -->
  <title>Document</title>
</head>

<body>
  <div class="navbar bg-[#474747]">
    <div class="navbar-logo">
      <img src="./../../assets/mono.png" class="object-contain w-40 ml-3">
    </div>
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-4xl text-[#ffffff] textosexo text-center hover:bg-transparent">Nankuru-chat</a>
    </div>
    <div class="navbar-center hidden lg:flex h-24">
      <ul class="menu menu-horizontal px-1 text-3xl text-[#ffffff] textosexo">
        <li><a>Download</a></li>
        <li tabindex="0"></li>
        <li><a>Salitre</a></li>
        <li tabindex="0"></li>
        <li><a>Info</a></li>
        <li tabindex="0"></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a
        class="btn text-3xl text-[#ffffff] textosexo bg-[#8e8e8e] h-12 w-52 rounded-full mr-10 normal-case shadow-3xl shadow-black/32 dark:shadow-black/40 border-none" (click)="goToLogin()">Login</a>
    </div>
  </div>
  <div class="body bg-[#2c2c2c] h-[83vh] flex items-center">
    <h1 class="ml-40 text-5xl textosexo w-[80vh] align-middle text-6xl text-[#ffffff]">The best place for practice your titi skills</h1>
      <img src="./../../assets/mono_1-landing.jpg" class="object-contain w-[50vh] rounded-full ml-20">
  </div>
  <div class="body bg-[#2c2c2c] h-[83vh] flex items-center">
    <img src="./../../assets/mono_2-landing.JPG" class="object-contain w-[70vh] rounded-full ml-20">
    <h1 class="ml-40 text-5xl textosexo w-[80vh] align-middle text-6xl text-[#ffffff] fade text-right ">Try your luck and curse your enemies</h1>
  </div>
  <div class="body bg-[#2c2c2c] h-[83vh] flex items-center">
    <h1 class="ml-40 text-5xl textosexo w-[80vh] align-middle text-6xl text-[#ffffff]">Be the most respected titi
      <br>
      <br>Or an outcast one
    </h1>
    <img src="./../../assets/mono_3-landing.jpg" class="object-contain w-[70vh] rounded-full ml-20">
  </div>
  <div class="body bg-[#2c2c2c] h-[83vh] flex items-center">
    <img src="./../../assets/mono_4-landing.jpg" class="object-contain w-[80vh] rounded-full ml-20">
    <h1 class="ml-20 text-5xl textosexo w-[80vh] align-middle text-6xl text-[#ffffff] fade text-right ">All is posible in...</h1>
  </div>
  <div class="body bg-[#2c2c2c] h-[83vh] flex items-center">
    <img src="./../../assets/mono.png" class="object-contain w-64 ml-[30vh] mb-[30vh]">
    <h1 class=" text-5xl textosexo w-[150vh] mb-[25vh] text-8xl text-[#ffffff] fade relative">Nankuru-chat<a
        class="btn text-3xl text-[#ffffff] textosexo bg-[#585858] h-16 w-80 rounded-3xl mr-10 normal-case shadow-xl shadow-black/32 dark:shadow-black/40 border-none absolute left-[1vh] top-[15vh] transparent-4" (click)="goToLogin()">Enter titi village</a>
    </h1>
  </div>
</body>

</html>