
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content absolute ml-[3.5vh] mt-[90vh] absolute">
    <label for="my-drawer" class="btn drawer-button bg-[#575757] hover:bg-[#3A3A3A] ring-0 border-none h-[5vh] w-[35vh] textosexo z-40 block flex normal-case items-center">open/close Profile</label>
  </div>
  <div class="drawer-side z-10 !pointer-events-none">
    <label for="my-drawer" class="drawer-overlay h-[100%] w-[20%]"></label>
    <ul class="menu p-4 w-[42vh] h-[76vh] mt-[10vh] bg-[#2c2c2c] text-base-content pointer-events-auto">
      
      <app-profile-side-panel
        [username]="user.username"
        [descripcion]="user.description"
        [gmail]="user.email"
        [pfp]="user.pfp"
      ></app-profile-side-panel>
      
      <div class="friends&enemiesContainer flex">
        <app-friends [friends]="user.friends"></app-friends>
        <app-enemies [enemies]="user.enemies"></app-enemies>
      </div>
    </ul>
  </div>
</div>