<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Convergence&display=swap" rel="stylesheet">
  <!-- <link href="../../../dist/output.css" rel="stylesheet" > -->
  <title>Document</title>
</head>

<body>
  <div class="fondo bg-[#2C2C2C] w-[100%] h-[100vh] flex">
    <div class="navbar bg-[#575757] w-[20%] h-[10vh] rounded absolute">
      <img src="./../../assets/mono.png" class="w-[30%] ml-[1vh]">
      <h1 class="text-2xl ml-[1vh] textosexo"> Nankuru-chat </h1>
    </div>
    <div class="navbar bg-[#575757] ml-[20%] w-[80%] h-[10vh] rounded text-2xl  absolute">
      <h1 class="ml-[3vh]"> {{serverName}} </h1>
    </div>
    <div class="chatContainer bg-[#373737] ml-[20%] mt-[10vh] w-[80%] h-[90vh] absolute">
      <div>

      </div>
      <div class="chatInputContainer bg-[#575757] h-[10%] w-[70%] ml-[2.5%] mt-[79vh] rounded-full absolute">
        <textarea type="text" placeholder="Titis want to listen you..." class="chatInput textosexo bg-[#575757] border-none text-2xl mt-[1vh] ml-[1vh] absolute rounded-full w-[114.5vh] h-[7vh] focus:border-none focus:ring-0 break-words"></textarea>
      </div>
      <div class="bg-[#575757] h-[9vh] w-[9vh] ml-[124vh] mt-[79vh] rounded-full absolute">

      </div>
      <div class="bg-[#575757] h-[9vh] w-[9vh] ml-[136.5vh] mt-[79vh] rounded-full absolute">

      </div>
      <div class="bg-[#575757] h-[9vh] w-[9vh] ml-[149vh] mt-[79vh] rounded-full absolute">

      </div>
      <div class="bg-[#575757] h-[100%] w-[5vh] ml-[161.5vh] absolute">

      </div>
    </div>
  </div>
</body>
</html>