.textosexo{
    font-family: 'Convergence', sans-serif;
}
html{
    background-color: #F3F4F6;
}

@media screen and (width < 1000px) {
    .contenedor-login {
        flex-direction: column ;
        width: 90%    ;
        height: 90%   ;
        align-items: center ;
    }
    .contenedor-login h1 {
        font-size: 1.5rem ;
    }
    .contenedor-login .inputContenedor {
        width: 80% ;
        height: 50% ;
    }
    .contenedor-login .inputContenedor input{
        margin-left: 0% ;
    }
    .joinnenakuruword {
        margin-left: 0% ;
    }
    .createAccount {
        justify-content: center ;
        font-size: 2rem   ;
        flex-direction: column ;
        align-items: center ;
        margin-left: 0%     ;
    }
    .error {
        font-size: 5rem ;
    }
    .profile-contenedor {
        flex-direction: column ;
        align-items: center ;
        margin-left: 0%     ;
    }
    /*
    display
    position
    box model (width, height, padding, margin, border)
    colores
    text
    shadows
    ...
    */
}