<div
    class="channel btn bg-[#404040] flex items-center rounded-none border-none ring-0 hover:bg-[#2B2B2B] normal-case"
    (click)="changeChannel()"
>
    <div class="textosexo">
        <p> → {{channel.name}} </p>
    </div>
</div>
<!--
<div class="channel btn bg-[#404040] flex items-center rounded-none border-none ring-0 hover:bg-[#2B2B2B] normal-case">
    <div class="textosexo flex">
        <img class="h-[2.5vh] w-[2.5vh] mr-[1vh]" src="./../../../../assets/voice-channel.png">
        <p> {{voiceChannelName}} </p>
    </div>
</div>
-->