<details class="dropdown mb-32 ">
    <summary class=" btn bg-[#404040] h-[10vh] w-[42vh] rounded-none items-center hover:bg-[#2B2B2B] border-none">
        <div class="h-[6.5vh] w-[6.5vh]">
            <img class="rounded-full" src="data:image/jpeg;base64, {{pfp}}">
        </div>
        <div class="textosexo normal-case">
            <p># {{serverName}} </p>
        </div>
    </summary>
    <ul class="p-2 shadow menu dropdown-content w-52 bg-[#404040] ml-[10vh]">
      <app-channel></app-channel>
    </ul>
</details>


